@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

:root{
  --primaryColor:#f377e3;
  --primaryRGBA: rgba(0, 0, 0, 0.6);
  --mainAsh:#bdb8bd;
  --darkAsh:#665566;
  --mainBlack:#222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main{
  color: var(--primaryColor);
}

body{
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainAsh) !important;
  color: var(--mainBlack);
}